<!-- <h2>Search Results for "<%= searchTerm %>" (by <%= searchType %>)</h2>
<% if (books.length > 0) { %>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Keywords</th>
        </tr>
        <% books.forEach(book => { %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.author %></td>
                <td><%= book.keywords.join(', ') %></td>
            </tr>
        <% }) %>
    </table>
<% } else { %>
    <p>No results found.</p>
<% } %>
<a href="/guest">Back to Search</a> -->

<h2>Результат "<%= searchTerm %>"</h2>
<% if (day != undefined) { %>
    <h1><%= day.date %></h1>
    <h2><%= day.is_weekend %></h2>
<% } else { %>
    <span>No Data</span>
<% } %>

<a href="/guest">Back to Search</a>