<!-- <h2>Admin Dashboard</h2>
<a href="/admin/create">Add New Book</a>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Keywords</th>
        <th>Actions</th>
    </tr>
    <% books.forEach(book => { %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.keywords.join(', ') %></td>
            <td>
                <a href="/admin/edit/<%= book.id %>">Edit</a>
                <a href="/admin/delete/<%= book.id %>">Delete</a>
            </td>
        </tr>
    <% }) %>
</table> -->